// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

#include "dt-bindings/usb/pd.h"
#include "dt-bindings/phy/phy.h"
#include "rk3588.dtsi"
#include "rk3588-evb.dtsi"
#include "rk3588-rk806-single-umlhp.dtsi"

/ {
	es8388_sound: es8388-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-es8388";
		hp-det-gpio = <&gpio1 RK_PC4 GPIO_ACTIVE_LOW>;  // GPIO1_D5_d HP_DET_L
		io-channels = <&saradc 3>;
		io-channel-names = "adc-detect";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <250>;
		spk-con-gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;  // GPIO1_D3_d SPK_CTL_H
		hp-con-gpio = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;   // GPIO1_D2_d PHONE_CTL
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s0_8ch>;
		rockchip,codec = <&es8388>;
		rockchip,audio-routing =
			"Headphone", "LOUT1",
			"Headphone", "ROUT1",
			"Speaker", "LOUT2",
			"Speaker", "ROUT2",
			"Headphone", "Headphone Power",
			"Headphone", "Headphone Power",
			"Speaker", "Speaker Power",
			"Speaker", "Speaker Power",
			"LINPUT1", "Headset Mic",
			"RINPUT1", "Headset Mic";
		//	"LINPUT2", "Headset Mic",
		//	"RINPUT2", "Headset Mic";
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		play-pause-key {
			label = "playpause";
			linux,code = <KEY_PLAYPAUSE>;
			press-threshold-microvolt = <2000>;
		};
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm3 0 50000 0>;
		cooling-levels = <0 50 100 150 200 255>;
		rockchip,temp-trips = <
			50000	1
			55000	2
			60000	3
			65000	4
			70000	5
		>;
	};

	pcie20_avdd0v85: pcie20-avdd0v85 {
		compatible = "regulator-fixed";
		regulator-name = "pcie20_avdd0v85";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <850000>;
		vin-supply = <&vdd_0v85_s0>;
	};

	pcie20_avdd1v8: pcie20-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie20_avdd1v8";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

	pcie30_avdd0v75: pcie30-avdd0v75 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd0v75";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <750000>;
		regulator-max-microvolt = <750000>;
		vin-supply = <&avdd_0v75_s0>;
	};

	pcie30_avdd1v8: pcie30-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "pcie30_avdd1v8";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

	/* SDIO接口Wi-Fi专用配置：WIFI_REG_ON: Wi-Fi的电源使能PIN脚 */
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		/* 特别注意：WIFI_REG_ON GPIO_ACTIVE 配置跟使能状态恰好是相反的，
		 * 高有效为LOW，低有效则为HIGH
	 	 * 切记：这个配置跟下面的WIFI,poweren_gpio是互斥的，不能同时配置！！！
		 */
		reset-gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_LOW>;
	};

	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_3v3_sd_s0: vcc-3v3-sd-s0-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd_s0_pwr>;
		regulator-name = "vcc_3v3_sd_s0";
		enable-active-high;
	};

	vcc3v3_pcie30: vcc3v3-pcie30 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_usb>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	/* 蓝牙节点 */
	/* 注意下面关于UART的配置：uart4_xfer/uart4_rts/uart4_ctsn
	 * 每个平台的名字可能不一样，要在对应芯片平台的dts/dtsi里面找下对
	 * 应的uart写法，比如uart4_ctsn有些平台的名字为uart4_cts.
	 */
	wireless-bluetooth {
		compatible = "bluetooth-platdata";

		/* 这里要配置对应主控UART的RTS脚 */
		uart_rts_gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_LOW>;	//GPIO3_A4_d UART8_RTSn_M1_BT
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart9m0_rtsn>;
		pinctrl-1 = <&uart9m0_rtsn_gpio>;
		
		/* BT_REG_ON 蓝牙电源的开关 */
		BT,reset_gpio = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;	//GPIO3_A6_d BT_REG_ON_H

		/* Linux平台：下面两个配置无需配置 */
		// BT,wake_gpio     = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;	//GPIO3_A1_u HOST_WAKE_BT_H  有可能跟下面IO要对调
		// BT,wake_host_irq = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;	//GPIO3_A0_u BT_WAKE_HOST_H
		status = "okay";
	};

	/* Wi-Fi节点 */
	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&sys_grf>;
		/* 注意：如果排查发现Wi-Fi模块没有32.768K波形，且硬件上是有
		 * RK PMU供给的，则打开下面的clock属性，按照实际使用的PMU型号填写，
		 * 否在SDIO/Wi-Fi无法使用.
		 * clocks = <&rk809 1>; //如果使用RK809，  只能配置一个
		 * clocks = <&hym8563>; //如果使用hym8563，只能配置一个
		 * clock-names = "ext_clock";
		*/
		clocks = <&pcf8563>;
		clock-names = "ext_clock";

		/* 按实际名字填写 */	
		wifi_chip_type = "rtl8822cs";

		/* WIFI_WAKE_HOST: Wi-Fi中断通知主控的PIN脚。
		* 特别注意：确认下这个Wi-Fi pin脚跟主控的pin的
		* 硬件连接关系，直连的话就是GPIO_ACTIVE_HIGH;
		* 如果中间加了一个反向管就要改成低电平GPIO_ACTIVE_LOW触发
		*/
		// pinctrl-names = "default";
		// pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>;		//GPIO3_A7_u WIFI_WAKE_HOST_H
		
		/* 注意USB/PCIE接口的Wi-Fi需要添加此配置，对应Wi-Fi使能脚,
		 * 且不需要配置sdio_pwrseq/sdio等节点！
		 * SDIO接口WiFi不需要添加这个配置！除非有动态加卸载KO的需求参考11.8章节；
		 */
		status = "okay";
	};

	/* SPI CAN 时钟源定义 */
	mcp2515_CLK: mcp2515-CLK {
	    compatible = "fixed-clock";
	    #clock-cells = <0>;
	    clock-frequency = <8000000>;
	};
};

&combphy1_ps {
	status = "okay";
};

&combphy2_psu {
	status = "okay";
};

&dp0 {
	status = "okay";
};

&dp0_in_vp2 {
	status = "okay";
};

&dp0_sound{
	status = "okay";
};

&dp1 {
	pinctrl-names = "default";
	pinctrl-0 = <&dp1m0_pins>;
	status = "okay";
};

&dp1_in_vp2 {
	status = "okay";
};

/* gmac1: gmac1网口 */
&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_miim
			&gmac1_tx_bus2
			&gmac1_rx_bus2
			//&gmac1_clkinout
			&gmac1_rgmii_clk
			&gmac1_rgmii_bus>;

	tx_delay = <0x43>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy>;
	status = "okay";
};

// 打开 hdmi0 功能
&hdmi0 {
    status = "okay";
    enable-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
    // ddc-i2c-bus = <&hdmi>; // ！！！注释或删除这行！！！
    pinctrl-names = "default";
    pinctrl-0 = <&hdmim0_tx0_cec &hdmim0_tx0_hpd &hdmim0_tx0_scl &hdmim0_tx0_sda>;
};

// 把 hdmi0 的显示接口连接在 Port0
&hdmi0_in_vp0 {
	status = "okay";
};

// 打开 hdmi0 音频输出
&hdmi0_sound {
	status = "okay";
};

// 打开 hdmi0 的硬件 phy
&hdptxphy_hdmi0 {
	status = "okay";
};

// 打开 hdmi0 的开机 logo
&route_hdmi0 {
	status = "okay";
};

/* I2C0_M2:CPU */
&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m2_xfer>;

	vdd_cpu_big0_s0: vdd_cpu_big0_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big0_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: vdd_cpu_big1_mem_s0: rk8603@43 {
		compatible = "rockchip,rk8603";
		reg = <0x43>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big1_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m2_xfer>;
	/* NPU_RK860 */
	vdd_npu_s0: vdd_npu_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_npu_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
};

/* I2C6_M0: RTC */
&i2c6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m0_xfer>;
	
	/* RTC_PCF8563 */
	pcf8563: pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "pcf8563";
		pinctrl-names = "default";
		pinctrl-0 = <&pcf8563_int>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;  /* GPIO0_B0 RTC_INT_L */
		wakeup-source;
	};
};

/* I2C7_M0: ES8388 */
&i2c7 {
	status = "okay";
	es8388: es8388@11 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "everest,es8388", "everest,es8323";
		reg = <0x11>;
		clocks = <&mclkout_i2s0>;
		clock-names = "mclk";
		assigned-clocks = <&mclkout_i2s0>;
		assigned-clock-rates = <12288000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s0_mclk>;
	};
};

&i2s1_8ch {
	status = "disabled";
	#sound-dai-cells = <0>;
	rockchip,clk-trcm = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_lrck
			&i2s1m0_sclk
			&i2s1m0_sdi1
			&i2s1m0_sdi2
			&i2s1m0_sdi3>;
};

&i2s5_8ch {
	status = "okay";
};

&i2s6_8ch {
	status = "okay";
};

&i2s7_8ch {
	status = "okay";
};

&mdio1 {
	rgmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&pcie2x1l2 {
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&rtl8111_isolate>;
	status = "okay";
};

&pcie30phy {
	rockchip,pcie30-phymode = <PHY_MODE_PCIE_NANBNB>; // 改为 NANBNB 模式
	status = "okay";
};

&pcie3x4 {
	num-lanes = <2>;	
	reset-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>; // 请再次确认极性和引脚
	vpcie3v3-supply = <&vcc3v3_pcie30>;
	pinctrl-names = "default";  // 先注释掉
	pinctrl-0 = <&pcie30x4_clkreqn_m1>; // 先注释掉
	status = "okay";
};

&pinctrl {
	headphone {
		hp_det: hp-det {
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcf8563 {
		pcf8563_int: pcf8563-int {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	
	rtl8111 {
		rtl8111_isolate: rtl8111-isolate {
			rockchip,pins = <3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	
	minipcie {
		minipcie_isolate: minipcie-isolate {
			rockchip,pins = <4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};	

	/* SDIO接口Wi-Fi专用配置：WIFI_REG_ON脚的pinctrl的配置 */
	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			/* 对应上面的WIFI_REG_ON，关掉上下拉，防止不能拉高或拉低 */
			rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	/* uart9_rts_gpio */
	wireless-bluetooth {
		uart9m0_rtsn_gpio: uart9m0-rtsn-gpio {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	/* WIFI_WAKE_HOST脚的pinctrl的配置 */
	wireless-wlan {
		/omit-if-no-ref/
		wifi_wake_host: wifi-wake-host {
		/* 注意一般Wi-Fi的wake host pin都是高电平触发，
		 * 所以默认这里要配置为下拉; 如果客户的硬件设计
		 * 是反向的则要改为上拉，总之要初始化为与触发电平
		 * 相反的状态
		 */
		rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	pcie30x4 {
		pcie30x4_clkreqn_m1: pcie30x4-clkreqn-m1 {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	sdmmc {
		sd_s0_pwr: sd-s0-pwr {
			rockchip,pins = <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

    /* 添加SPI0引脚配置（如果不存在的话） */
	spi0 {
		spi0m2_pins: spi0m2-pins {
			rockchip,pins =
				/* SCK, MOSI, MISO */
				<1 RK_PB3 2 &pcfg_pull_up>,   /* spi0m2_clk */
				<1 RK_PB2 2 &pcfg_pull_up>,   /* spi0m2_mosi */
				<1 RK_PB1 2 &pcfg_pull_up>;  /* spi0m2_miso */
		};
 
		spi0m2_cs0: spi0m2-cs0 {
			rockchip,pins =
				<1 RK_PB4 2 &pcfg_pull_up>;   /* spi0m2_cs0 */
		};
	};
    
    /* 添加CAN中断引脚配置 */
	can {
		mcp2515_int: mcp2515-int {
			rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3m1_pins>;
	status = "okay";
};

&pwm15 {
	compatible = "rockchip,remotectl-pwm";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm15m1_pins>;
	remote_pwm_id = <15>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
	status = "okay";
	
	ir_key1 {
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xba	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xbd	KEY_HOME>,
			<0xea	KEY_VOLUMEUP>,
			<0xe3	KEY_VOLUMEDOWN>,
			<0xe2	KEY_SEARCH>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xec	KEY_MENU>,
			<0xbf	0x190>,
			<0xe0	0x191>,
			<0xe1	0x192>,
			<0xe9	183>,
			<0xe6	248>,
			<0xe8	185>,
			<0xe7	186>,
			<0xf0	388>,
			<0xbe	0x175>;
	};
};

/* SDIO接口Wi-Fi专用配置：SDIO接口节点 */
&sdio {
	status = "okay";
	max-frequency = <150000000>;	/* sdio接口的最大频率,可调整 */
 //	no-sd;
 //	no-mmc;
 //	disable-wp;
    #address-cells = <1>;
    #size-cells = <0>;
    bus-width = <4>;	/* 4线模式，可调整1线模式 */
    cap-sd-highspeed;
    cap-sdio-irq;
    keep-power-in-suspend;
    non-removable;
    mmc-pwrseq = <&sdio_pwrseq>;
    pinctrl-names = "default";
    pinctrl-0 = <&sdiom0_pins>;

    rtl8822cs: wifi@1 {
        compatible = "realtek,rtl8822cs";
        reg = <1>;
     // interrupt-parent = <&gpio0>;
     // interrupts = <RK_PB2 IRQ_TYPE_LEVEL_LOW>; /* 示例 GPIO，需核对原理图 */
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_wake_host>;
        wake-gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_LOW>; /* 唤醒 GPIO */
    };
};

&uart7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart7m1_xfer>;
};

&uart5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart5m1_xfer>;
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer>;
};

&uart0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
};

/* 1. 首先查看 u2phy0 的配置 - 保持原样，只修改速度 */
&u2phy0_otg {
	status = "okay";
	/* 添加 vbus 电源 */
	vbus-supply = <&vcc5v0_host>;
	/* 修复模式配置 */
	rockchip,usb-mode = "otg";
};

/* 2. u2phy1_otg - 确保有电源供应 */
&u2phy1_otg {
	/* 取消注释，添加电源 */
	phy-supply = <&vcc5v0_host>;
	/* 添加模式配置 */
	rockchip,usb-mode = "host";
	status = "okay";
};

/* 3. u2phy2_host - 确保配置完整 */
&u2phy2_host {
	phy-supply = <&vcc5v0_host>;
	/* 添加模式配置 */
	rockchip,usb-mode = "host";
	/* 添加电源延迟确保稳定 */
	phy-supply-delay-us = <20000>;
	status = "okay";
};

/* 4. u2phy3_host - 这是有问题的 PHY，修复配置 */
&u2phy3_host {
    status = "okay";
    /* 关键修复：指定正确的模式。对于主机端口，通常是 "host" */
    phy-mode = "host";
    /* 或者，如果硬件是 OTG 端口但被用作主机，尝试： */
    /* phy-mode = "otg"; */
    /* 确保电源配置正确 */
    phy-supply = <&vcc5v0_host>;
    vbus-supply = <&vcc5v0_host>;
};

/* 5. 修复 USB3.0 PHY 速度限制 */
&usbdp_phy0_u3 {
	status = "okay";
	/* 修复：改为 USB3.0 速度 */
	maximum-speed = "super-speed";
};

/* 6. 修复 USB3.0 PHY 1 配置 */
&usbdp_phy1_u3 {
	status = "okay";
	/* 修复：改为 USB3.0 速度 */
	maximum-speed = "super-speed";
};

/* 7. 修复 USB3.0 控制器 0 配置 */
&usbdrd_dwc3_0 {
	dr_mode = "otg";
	/* 修复：改为 USB3.0 速度 */
	maximum-speed = "super-speed";
	status = "okay";
	
	/* 可选优化：添加性能参数 */
	snps,usb3_lpm_capable;
	snps,dis_u2_susphy_quirk;
	snps,dis-del-phy-power-chg-quirk;
};

/* 8. 修复 USB3.0 控制器 1 配置 */
&usbdrd_dwc3_1 {
	dr_mode = "host";
	/* 修复：改为 USB3.0 速度 */
	maximum-speed = "super-speed";
	status = "okay";
	
	/* 可选优化：添加性能参数 */
	snps,usb3_lpm_capable;
	snps,dis_u2_susphy_quirk;
	snps,dis-del-phy-power-chg-quirk;
};

/* =================== USB 配置结束 =================== */

/* 打开对应的UART配置 */
&uart9 {
	pinctrl-names = "default";
	/* 这里配置对应主控UART的TX/RX/CTS PIN，不要配置RTS PIN */
	pinctrl-0 = <&uart9m0_xfer &uart9m0_ctsn>;
	status = "okay";
};

&sdmmc {
	status = "okay";
	vmmc-supply = <&vcc_3v3_sd_s0>;
};

/* 3. 启用 SATA 控制器 - 完整配置 */
// 禁用 PCIe 控制器（释放引脚给SATA用）
&pcie2x1l0 {
	status = "disabled"; // 确保此项为 disabled
};

&combphy0_ps {
	status = "okay";
	/* 核心修复：明确指定PHY为SATA工作模式 */
	// Rockchip PHY_TYPE_SATA 的值为 0x03
	mode = <0x03>;
	/* 电源配置 */
	phy-supply = <&vcc3v3_pcie30>;
	/* 必要的属性 */
	#phy-cells = <1>;
};

&sata0 {
	status = "okay";
	/* 引用配置为SATA模式的PHY */
	phys = <&combphy0_ps PHY_TYPE_SATA>;
	phy-names = "sata-phy";
	/* 配置电源，防止使用虚拟调节器 */
	sata-supply = <&vcc3v3_pcie30>;
	ahci-supply = <&vcc3v3_pcie30>;
	/* 关键：配置使能/复位GPIO (根据原理图，通常是GPIO4_A5) */
	enable-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
	// 如果高电平无效，可尝试反极性：GPIO_ACTIVE_LOW
	/* 可选：调低初始链接速度以增加稳定性 */
	max-link-speed = <1>; // 1 = Gen1 (1.5 Gbps)
};

&can0 {
    status = "disabled";  /* 如果不用内置CAN0 */
};

&can1 {
    status = "disabled";  /* 如果不用内置CAN1 */
};

/* 配置 SPI 总线 */
&spi0 {
	status = "okay";
 
	/* 使用正确的pinctrl名称 */
	pinctrl-names = "default";
	pinctrl-0 = <&spi0m2_cs0 &spi0m2_pins>;
	max-frequency = <10000000>;      /* SPI时钟频率 */
    
	/* 添加MCP2515设备 */
	can3: can-controller@0 {
    	compatible = "microchip,mcp2515";
    	reg = <0>;  /* CS0 */
        
        /* 使用正确的时钟，通常是24MHz时钟 */
        clocks = <&mcp2515_CLK>;

		/* 中断配置 - 需要根据实际连接修改 */
    	interrupt-parent = <&gpio1>;
    		interrupts = <RK_PA7 IRQ_TYPE_EDGE_FALLING>;  /* 修正语法 */
    	spi-max-frequency = <10000000>;  /* 最大10MHz，根据实际情况调整 */
    	spi-cpha = <0>;
		spi-cpol = <0>;

		/* MCP2515 特定配置 */
		oscillator-frequency = <8000000>;

		status = "okay";
    };
};